/* setting.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: left; /* Center content horizontally */
    background-color: black; /* Set background color of the body */
    height: 120%; /* Ensure container covers the full viewport height */
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left; /* Center content horizontally */
    padding: 1rem;
    background-color: #F5F8F9; /* Set background color of the body */
    height: 180%;

}

.title {
    margin: 2rem 0; /* Add margin to position the text appropriately */
    text-align: left; /* Center the text */
        color: black;
}
